<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menu">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" href="#">Clientes Daniel Legal</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Listar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

</html>